<section>
  <div class="flex gap-3 justify-end items-center lg:px-32 sm:px-10">
    <button class="flex gap-2 px-4 py-1.5 justify-center items-center bg-white text-red-600  text-base rounded
      hover:bg-red-600 hover:text-white"
            routerLink="/post/new">
      <p class="text-xl">+</p>
      <p>Add New Post</p>
    </button>
  </div>

  <div class="relative overflow-x-auto lg:px-32 sm:px-10 pb-8 pt-3">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-secondary">
        <tr>
          <th class="px-6 py-3 " scope="col">
            <div class="w-2">
              No
            </div>
          </th>
          <th class="px-6 py-3" scope="col">
            <div class="w-32">
              Post Image
            </div>
          </th>
          <th class="px-6 py-3" scope="col">
            <div class="w-52">
              Title
            </div>
          </th>
          <th class="px-6 py-3" scope="col">
            <div class="flex items-center">
              Category
            </div>
          </th>
          <th class="px-6 py-3" scope="col">
            <div class="flex items-center">
              Date
            </div>
          </th>
          <th class="px-6 py-3" scope="col">
            <div class="flex items-center">
              Action
            </div>
          </th>
        </tr>
        </thead>
        <tbody *ngIf="!isEmpty;else noData">
        <tr
          *ngFor="let post of postArray; let i=index;"
          class="bg-white border-b">
          <td class="px-6 py-4">
            <div class="w-2">
              <p>{{ i + 1 }}</p>
            </div>

          </td>
          <td class="px-6 py-4">
            <div class="w-52">
              <img class="object-cover rounded w-full h-32" src="{{ post.data.postImgPath }}">
            </div>

          </td>
          <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" scope="row">
            <div class="w-32">
              <p>{{ post.data.title }}</p>
            </div>

          </th>
          <td class="px-6 py-4">
            <p>{{ post.data.category.category }}</p>
          </td>
          <td class="px-6 py-4">
            <p> {{ post.data.createdAt.toMillis() | date}}</p>
          </td>
          <td class="px-6 py-4">
            <button
              class="font-medium text-blue-600 hover:underline"
              routerLink="/post/new"
              [queryParams]="{id: post.id}"
              type="button">Edit
            </button>
            <button (click)="onDelete(post.data.postImgPath,post.id)"
                    class="ml-5 font-medium text-red-600 hover:underline">Delete
            </button>

            <button (click)="feature(post.id, !post.data.isFeatured)"
                    *ngIf="!post.data.isFeatured; else removeFeaturedbtn"
                    class="px-4 py-2 ml-5 font-medium text-white bg-green-400 rounded hover:bg-green-500">Mark Featured
            </button>
            <ng-template #removeFeaturedbtn>
              <button
                (click)="feature(post.id,!post.data.isFeatured)"
                class="px-4 py-2 ml-5 font-medium text-white bg-red-400 rounded hover:bg-red-500">Remove Featured
              </button>
            </ng-template>
          </td>
        </tr>
        </tbody>
        <ng-template #noData>
          <tbody>
          <tr>
            <td class="text-xl text-center p-4" colspan="6"> No Data</td>
          </tr>
          </tbody>
        </ng-template>
      </table>
    </div>
  </section>
