<header class="flex w-full px-32 items-center h-24 top-0 fixed bg-white z-1 ">
  <div class="flex w-full border-b-2 py-6">
    <div class="flex-1 flex gap-5">
      <span class="px-2.5 py-1.5 rounded-3xl text-xl font-bold ">Blog App</span>
      <div class="flex-3 flex text-base">
        <button class="flex gap-2 px-4 py-1.5 justify-center items-center hover:bg-emerald-100"
                routerLink="/post">
          Posts
        </button>
        <button class="flex gap-2 px-4 py-1.5 justify-center items-center hover:bg-emerald-100"
                routerLink="/category">
          Category
        </button>
        <button class="flex gap-2 px-4 py-1.5 justify-center items-center hover:bg-emerald-100"
                routerLink="/subscriber">
          subscribers
        </button>
      </div>
    </div>

    <div *ngIf="AuthStatus()" class="flex-2 flex gap-3 items-center">
      <span>{{userEmail}} </span>
      <button (click)="logout()"
              class=" min-w-fit px-6 py-2 text-base rounded text-red-600 hover:underline hover:underline-offset-8 "
              type="submit">
        Logout
      </button>
    </div>
  </div>
</header>
