<nav class="container min-w-full flex gap-5 justify-center items-center text-base
bg-secondary top-16 fixed h-10 z-1">
  <a class="flex gap-2 px-4 py-1.5 justify-center items-center hover:bg-emerald-100" href="/post">
    <img alt="icon" src="assets/icons/post.png" width="16px">
    <p>Posts</p>
  </a>
  <a href="/category" class="flex gap-2 px-4 py-1.5 justify-center items-center hover:bg-emerald-100">
    <img src="assets/icons/category-icon.png" alt="icon" width="16px">
    <p>Category</p>
  </a>
  <a href="/category" class="flex gap-2 px-4 py-1.5 justify-center items-center hover:bg-emerald-100">
    <img src="assets/icons/category-icon.png" alt="icon" width="16px">
    <p>Category</p>
  </a>
  <a href="/category" class="flex gap-2 px-4 py-1.5 justify-center items-center hover:bg-emerald-100">
    <img src="assets/icons/category-icon.png" alt="icon" width="16px">
    <p>Category</p>
  </a>

</nav>
